<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <!-- 1. -->
    <!-- <h1 style="color: green">Welcome {{fullName}}</h1> -->

    <!-- 2. -->
    <!-- <h1>Name: {{name}}, Surname: {{surname}}, Age: {{age}}</h1> -->

    <!-- 3. -->
    <form method="post" action="counter">
      <input type="text" name="name" id="" placeholder="Enter your name" />
      <button type="submit" style="cursor: pointer">Add</button>
    </form>
  </body>
</html>
