<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <!-- 8. -->
    
    {% for message in messages %}
    <h5 style="color: red;">{{message}}</h5>
    {% endfor %}
    
    <form method="POST" action="signup">
      {% csrf_token %}
      <label for="">Username: </label>
      <input type="text" name="username" id="" /><br>
      <label for="">Email: </label>
      <input type="email" name="email" id="" /><br>
      <label for="">Password: </label for="">
      <input type="password" name="password" id="" /><br>
      <label for="">Confirm Password: </label>
      <input type="password" name="confirmPassword" id="" /><br>
      <button type="submit" style="cursor: pointer;">Add</button>
    </form>
  </body>
</html>
